.listSections {
  border-radius: 0.5rem;
  background-color: #111010;
  margin-right: 1rem;
  width: 25%;
  position: relative;
  background-size: cover;
  z-index: 10;
  font-size: 1.125rem;
}

.listSections.active {
  display: block;
  position: absolute;
  top: 12.25rem;
  left: 0.25rem;
  z-index: 100;
}

.listSections a {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff !important;
}

.listSections a:hover {
  opacity: 0.5;
  color: #ffffff;
}

.listSections ul {
  list-style-type: none;
  padding: 0;
}

.listSections .section {
  padding: 0.5rem;
  cursor: pointer;
  color: #ffffff !important;
  transition: hover 1s;
  border-top: 0.125rem solid rgba(255, 255, 255, 0.2);
}

.listSections .section:first-child {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-top: none;
}

.listSections .section:last-child {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.listSections .section:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.listSections .section.active-section {
  background-color: #660303;
}

.listSections .dropdown {
  background-color: #0a0a0a;
  border: 0.3rem solid #660303;
  border-radius: 0.5rem;
  position: absolute;
  display: block;
  top: 0rem;
  left: 80%;
  z-index: 1;
  height: 100%;
  min-width: 10rem;
}

.listSections .dropdown .categorie {
  border-top: 0.125rem solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

.listSections .dropdown .categorie:first-of-type {
  border-top: none;
}

.listSections .dropdown .categorie:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
