.order-of .order-title {
  background-color: #280f0f;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.35rem;
}

.order-of .category-name {
  font-size: 1.25rem;
}

.order-of .card {
  height: 13rem;
}
@media (max-width: 768px) {
  .order-of .order-title {
    padding: 0.875rem;
    margin: 0.5rem 0.5rem 1.5rem;
    font-size: 2.25rem;
  }
  .order-of .card {
    height: 14.5rem !important;
  }
  .order-of .category-name {
    font-size: 2rem;
  }
  .order-of .position {
    font-size: 1.25rem;
  }
}
