@font-face {
  font-family: "Roboto";
  src: url("../Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a {
  text-decoration: none;
}
html,
body {
  font-family: "Roboto";
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 1rem;
  flex: 4;
}
footer {
  flex: 1;
}

.main__banner {
  display: flex;
  margin-bottom: 1rem;
}

.breadcrumb {
  font-size: 1.25rem;
}

.breadcrumb a {
  color: rgba(0, 0, 0, 0.7);
}

.breadcrumb a:hover {
  color: rgba(0, 0, 0, 1);
}

.card {
  position: relative;
  text-align: center;
  padding: 0.5rem;
  border: 0.125rem solid #abaaaa;
  border-radius: 0.5rem;
  margin: 0 0 1.5rem;
  width: 16rem;
  height: 16rem;
  flex-shrink: 0;
}

.card:hover {
  box-shadow: 0 0 1.125rem 0.325rem rgba(0, 0, 0, 0.24);
}

.card:hover p {
  opacity: 0.8;
}

.card .product-name {
  color: #0a0a0a;
  font-size: 1.25rem;
}

.card .product-name-property {
  color: gray;
}

.card .product-price {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  color: #0a0a0a;
}

.card .product-price-none {
  text-decoration: line-through;
}

.card .product-discount-price {
  font-size: 1.25rem;
  color: red;
  font-weight: bold;
  margin-top: 0.25rem;
  display: block;
}

.favorite-button {
  z-index: 20;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.favorite-button svg {
  width: 2rem;
  height: 2rem;
}

.card img {
  max-width: 90%;
  max-height: 10rem;
}

.product__description {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.widthSectionCard {
  width: 95%;
  margin: 0 auto;
}

.widthSectionCard a {
  color: #000;
}

.flex {
  display: flex;
}

.navigation-stroke {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.button-logout {
  background-color: #131313;
  border: 0.125rem solid #000;
  color: #fff;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  text-align: center !important;
  cursor: pointer;
  transition: 0.2s all;
}

.button-logout:active {
  transform: scale(0.96);
  box-shadow: 0.1875rem 0.125rem 1.375rem 0.0625rem rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
  .card {
    padding: 0.75rem;
    margin: 0 0 1.5rem;
    width: 16rem;
    height: 21.5rem !important;
  }

  .card .product-name {
    font-size: 2rem;
  }

  .card .product-price {
    margin-top: 0.25rem;
    font-size: 1.9rem;
  }

  .card .product-discount-price {
    font-size: 1.9rem;
    margin-top: 0rem;
  }
  .card .position {
    font-size: 1.25rem;
  }
  .favorite-button svg {
    width: 3rem;
    height: 3rem;
  }

  .breadcrumb {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .breadcrumb a {
    font-size: 1.5rem;
  }
}
