.editing input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.625rem;
  padding-left: 0.25rem;
  border: 0.0625rem solid #000;
  margin: 0.25rem 1rem 0.5rem 0;
  z-index: 999;
  outline: none;
}

.editing select {
  width: 20rem;
  height: 2rem;
  border-radius: 0.625rem;
  padding-left: 0.25rem;
  border: 0.0625rem solid #000;
  margin: 0.25rem 1rem 0.5rem 0;
  z-index: 999;
  outline: none;
}

.editing select option {
  height: 3rem;
}

.editing textarea {
  font-family: sans-serif;
  font-size: 0.85rem;
  width: 20rem;
  height: 2rem;
  border-radius: 0.625rem;
  padding: 0.25rem;
  border: 0.0625rem solid #000;
  margin: 0.25rem 1rem 0.5rem 0;
}

.editing .button-editing {
  background-color: #232323;
  color: #fff;
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center !important;
  margin-top: 0.25rem;
  cursor: pointer;
  transition: 0.2s all;
  margin-bottom: 0.25rem;
}

.editing .button-editing:active {
  transform: scale(0.96);
  box-shadow: 0.1875rem 0.125rem 1.375rem 0.0625rem rgba(0, 0, 0, 0.24);
}

.editing .button-icon {
  background-color: #232323;
  color: #fff;
  width: 2rem;
  line-height: 2rem;
  border: none;
  border-radius: 0.25rem;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.editing .buttons-photo {
  display: flex;
  flex-direction: column;
}

.editing .buttons-photo button:first-child {
  margin-top: 0;
}

.editing .buttons-product {
  display: flex;
}

.editing .buttons-product button {
  margin-left: 0.5rem;
}

.editing .buttons-product button:first-child {
  margin-left: 0;
}

.editing .list-photos-product {
  display: flex;
  list-style: none;
  margin-top: 0.625rem;
}

.editing .list-photos-product li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editing .list-photos-product img {
  height: 8rem;
  margin-right: 1rem;
  cursor: pointer;
}

.editing .main-photo {
  cursor: pointer;
}

.editing .photo-editing {
  width: 13rem;
  height: 10rem;
  background-color: lightgray;
  margin-right: 0.625rem;
  margin-top: 1rem;
  z-index: -10;
}

.editing .photo-selected {
  box-shadow: 0.0625rem 0.125rem 0.75rem 0.3125rem rgba(0, 0, 0, 0.24);
}

.editing p {
  margin-top: 0.25rem;
  font-size: 1.075rem;
}

.editing .list-editing {
  position: relative;
  margin-bottom: 2.5rem;
}

.editing .list-editing .z {
  position: absolute;
  z-index: 10;
}

.editing .list-editing ul {
  position: absolute;
  list-style: none;
  width: 20rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5rem;
  top: 1rem;
  left: 0;
  padding-top: 1.25rem;
  z-index: 1;
  background-color: #fff;
}

.editing .list-editing li {
  padding: 0.25rem;
}

.editing .list-editing li:hover {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.2);
}

.editing .z2 ul {
  z-index: 40;
}

.editing .z2 .z3 {
  z-index: 50;
}

.editing .title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.editing .top {
  margin-top: 0 !important;
}

.editing .edit-offer {
  display: flex;
  flex-direction: column;
}

.autorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  height: 30vh;
}

.autorization .title {
  display: block;
  margin-top: 0rem;
}

.autorization .button-editing {
  margin: 0.25rem auto 0;
}

@media (max-width: 768px) {
  .autorization {
    height: 50vh;
  }
  .autorization .title {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }
  .editing input {
    width: 32rem;
    height: 3.5rem;
    font-size: 1.75rem;
    padding-left: 0.75rem;
    margin-bottom: 1rem;
  }

  .editing .button-editing {
    width: 20rem;
    height: 3.5rem;
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
}
