@media screen and (min-width: 3001px) {
  * {
    font-size: 38px;
  }
}

@media screen and (min-width: 2701px) and (max-width: 3000px) {
  * {
    font-size: 33px;
  }
}

@media screen and (min-width: 2401px) and (max-width: 2700px) {
  * {
    font-size: 30px;
  }
}

@media screen and (min-width: 2142px) and (max-width: 2400px) {
  * {
    font-size: 27.5px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2141px) {
  * {
    font-size: 25px;
  }
}

@media screen and (min-width: 1681px) and (max-width: 1920px) {
  * {
    font-size: 22.8px;
  }
}

@media screen and (min-width: 1481px) and (max-width: 1680px) {
  * {
    font-size: 19.75px;
  }
}

@media screen and (min-width: 1361px) and (max-width: 1480px) {
  * {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 1261px) and (max-width: 1360px) {
  * {
    font-size: 16px;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1260px) {
  * {
    font-size: 14.8px;
  }
}

@media screen and (min-width: 931px) and (max-width: 1080px) {
  * {
    font-size: 12.7px;
  }
}

@media screen and (min-width: 801px) and (max-width: 930px) {
  * {
    font-size: 13.2px;
  }
}

@media screen and (min-width: 691px) and (max-width: 800px) {
  * {
    font-size: 11.2px;
  }
}

@media screen and (min-width: 591px) and (max-width: 690px) {
  * {
    font-size: 9.8px;
  }
}

@media screen and (min-width: 511px) and (max-width: 590px) {
  * {
    font-size: 8.3px;
  }
}

@media screen and (min-width: 441px) and (max-width: 510px) {
  * {
    font-size: 7.2px;
  }
}

@media screen and (min-width: 381px) and (max-width: 440px) {
  * {
    font-size: 6.2px;
  }
}

@media screen and (min-width: 331px) and (max-width: 380px) {
  * {
    font-size: 5.3px;
  }
}

@media screen and (max-width: 330px) {
  * {
    font-size: 4.6px;
  }
}
@media (max-width: 768px) {
  .listSections .close-listSections,
  .dropdown .close-dropdown {
    display: block;
  }
  .listSections .section-categorie-title {
    display: block;
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 2.25rem;
  }
  .banner {
    width: 100%;
  }
}
