.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  color: #fff;
  font-size: 20px;
}

.header a {
  font-size: 1.25rem;
  color: #fff;
}

.header-top {
  background-image: url("../../img/header.webp");
}

.header-top p {
  font-size: 1.25rem;
}

.header-bottom {
  background-color: #860303;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  padding: 1rem 0.5rem 1rem 0;
  margin-right: 1rem;
  border-right: 0.125rem solid #fff;
  font-size: 3rem;
}

h3 {
  font-weight: normal;
  font-size: 1.2rem;
}

.graphic p:nth-child(2) {
  text-indent: 1.75rem;
}

.header-mobile h3 {
  font-size: 1.5rem;
}

.header-mobile .telephone {
  font-size: 2rem;
  margin-right: 4.5rem;
}

.header-mobile .info-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.625rem;
  z-index: 300;
}

.header-mobile .button-categories {
  height: 3.5rem;
}

.header-mobile .burger {
  height: 0.25rem;
  margin: 0 0.5rem;
}

.header-mobile .burger::before,
.header-mobile .burger::after {
  height: 0.25rem;
}

.header-mobile .burger::before {
  top: -0.5rem;
}

.header-mobile .burger::after {
  top: 0.5rem;
}

.header-mobile .buttonValue {
  border-left: 0.175rem solid #000;
  font-size: 1.75rem;
}

.header-mobile {
  position: relative;
}

.header-mobile .info-window {
  position: absolute;
  top: 3.75rem;
  right: 3.75rem;
  background-color: #fff;
  padding: 0.75rem;
  z-index: 400;
  color: #000;
  text-align: right;
  float: right;
  border: 0.125rem solid #0a0a0a;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.header-mobile .info-window p {
  font-size: 1.75rem;
}

.header-mobile .info-window > div {
  display: flex;
}

.header-mobile .info-window > div:first-child > p:first-child {
  text-indent: 8.5rem;
}

.header-mobile .info-window > div > p:first-child {
  margin-right: 0.5rem;
  font-weight: 600;
}

.header-mobile .info-window > div:first-child {
  margin-bottom: 0.5rem;
}

.header-mobile .search {
  height: 3.5rem;
  width: 60%;
}

.header-mobile .search input {
  font-size: 1.75rem;
}

.header-mobile .search .suggestion-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin-right: 1.5rem;
}

.header-mobile .search .suggestion-name {
  font-size: 2rem;
}

.header-mobile .search .suggestion-section,
.header-mobile .search .suggestion-company {
  font-size: 1.75rem;
}

.header-mobile .listSections {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-mobile .listSections li,
.header-mobile .listSections .dropdown .categorie {
  font-size: 2.25rem;
  padding: 2.25rem;
}

.header-mobile .listSections .dropdown {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
  z-index: 600;
  border: none;
  padding-top: 5rem;
}
.header-mobile .listSections.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
  z-index: 500;
  border: none;
  margin: 0;
  padding-top: 5rem;
}
.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
  display: none; /* По умолчанию скрываем */
  z-index: 1000;
}

/* Крестик для блока listSections */
.listSections .close-listSections {
  display: none;
}

/* Крестик для блока dropdown */
.dropdown .close-dropdown {
  display: none;
}
.listSections .section-categorie-title {
  display: none;
}
@media (max-width: 768px) {
  .listSections .close-listSections,
  .dropdown .close-dropdown {
    display: block;
  }
  .listSections .section-categorie-title {
    display: block;
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 2.25rem;
  }
}
