.button-categories {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
}

.burger {
  display: block;
  position: relative;
  border: none;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 0.625rem;
  content: "";
  background: #000;
  margin: 0 0.3rem;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.625rem;
  background: #000;
  color: #000;
}
.burger::before {
  top: -0.375rem;
}

.burger::after {
  top: 0.375rem;
}

.buttonValue {
  padding: 0.4rem 1rem;
  border-left: 0.09rem solid #000;
  font-size: 1rem;
  color: #000;
}
